Relation to File URI scheme

Would it make sense to clarify the relationship with https://tools.ietf.org/html/draft-kerwin-file-scheme? it seems that there is some overlap in scope. But even if there isn't, making that explicit might help people to better understand the relationship of those two documents.

It would certainly make sense to update links to outmoded specs.

For instance, right now, http://www.w3.org/TR/FileAPI/#alternative-schemas links to RFC 7230, RFC 7231, and RFC 2046 (note: the link names are messed up, but they are still the right RFCs). https://tools.ietf.org/html/draft-kerwin-file-scheme-13 is useful work, but we've historically washed our hands off of file:/// URLs. If all browser folks agree, it's worth updating the link and maybe adding a sentence or two saying this is not file:/// URLs.